.AllPuppies{
  display: flex;
  flex-wrap: wrap;
  max-width: 380px;
}

.MainCard{
  background-color:rgb(244, 237, 237);
  align-items: center;
  width: 150px;
  height: 150px;
  color: gray;
  font-size: 8px;
  margin: 20px;
  
}
.nameId{
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  margin: auto;
  
}
img{
  width:40px;
  height: 40px;
  border-radius: 50%;
}